.big {font-size: 30px; line-height:50px;}

h1 {font-size: 40px; text-align:center;}
h2 {font-size: 30px; text-align:center;}
h3 {font-size: 20px; text-align:center; font-weight:bold;}

table {border:1px solid black; text-align:center; margin-left:auto; margin-right:auto;} 
td {border:1px solid black;}
th {border:1px solid black; font-weight:bold;}